<router-outlet></router-outlet>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{path.path}}</h1>
    <button class="btn btn-default" (click)="backItem()">Vissza</button>
    <div class="row placeholders">
      <div *ngFor="let item of items.entries">
        <div class="col-xs-6 col-sm-3 placeholder">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
            height="200" class="img-responsive" alt="Generic placeholder thumbnail">
          <h4>{{item.name}}</h4>
          <span class="text-muted">{{item.tag}}</span>
          <button class="btn btn-success" (click)="openItem(item.path_lower)">Open</button>
          <button class="btn btn-danger" (click)="delItem(item.path_lower)">Delete</button>
        </div>
      </div>
    </div>
  </div>